html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

body {
    background-image: url(Background.jpg);
    background-size: cover;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 70px;
    top: 10px;
}

.logo img {
    width: 200px;
    height: 200px;
}

.nav {
    position: absolute;
    left: 75%;
    top: 1%;
}

.nav li {
    display: inline-block;
    padding-right: 54px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav a:hover {
    color: lightblue;
}

.content {
    position: absolute;
    top: 50%;
    left: 6%;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h1:hover {
    color: lightblue;
}

.button {
    position: absolute;
    top: 65%;
    left: 6%;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 5px 0px 2px black;
}

.button:hover {
    animation: ZoomIn 0.5s forwards;
}

.button:hover a {
    color: lightblue;
}

@keyframes ZoomIn {
    0% {

    }

    100% {
        padding-right: 20px;
        padding-left: 20px;
        transform: scale(1.5);
        color: lightblue;
    }
}

.button a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.sosmed {
    position: absolute;
    left: 93%;
    top: 50%;
}

.sosmed a {
    text-decoration: none;
    color: lightblue;
    background-color: aqua;
    padding: 10px;
    padding-bottom: 22px;
    margin-left: 20px;
    position: absolute;
    opacity: 0;
}

.sosmed img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 30px;
}



