html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

body {
    background-color: aqua;
}

.header {
    background-color: grey;
    width: 100%;
    padding: 15px;
    border-bottom: 4px solid black;
}

.header p {
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    float: left;
}

.header li {
    display: inline-block;
    position: relative;
    left: 65%;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-right: 25px;
}

.header a:hover {
    color: lightskyblue;
}

.clear {
    clear: both;
}

.container {
    width: 70%;
    height: 870px;
    background-color: aqua;
    margin: 0 auto;
    position: absolute;
    left: 250px;

}

.left {
    position: relative;
    top: 200px;
    left: 100px;
}

.left .getin h1 {
    font-weight: bold;
    font-size: 80px;
    float: left;
}

.left .getin h2 {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 10px;
    top: 5px;
    line-height: 35px;
}

.left .text p {
    margin-top: 50px;
    line-height: 25px;
    font-size: 20px;
}

.gambar img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    display: inline-block;
    margin-bottom: 30px;
}

.info {
    position: relative;
    left: 80px;
    bottom: 265px;
}

.info p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 65px;
}

.right {
    position: absolute;
    bottom: 590px;
    left: 700px;
}

.right .message h1 {
    font-weight: bold;
    font-size: 80px;
    float: left;
}

.right .message h2 {
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 10px;
    top: 5px;
    line-height: 35px;
    float: left;
}

.input {
    position: relative;
    bottom: 565px;
    left: 710px;
}

.input .nama, .email, .nomor {
    width: 350px;
    height: 35px;
    background-color: whitesmoke;
    border: 5px solid black;
    line-height: 35px;
    margin-bottom: 40px;
}

.input .pesan {
    width: 350px;
    height: 120px;
    background-color: whitesmoke;
    border: 5px solid black;
    line-height: 35px;
    margin-bottom: 20px;
}

.input .send {
    width: 150px;
    height: 35px;
    background-color: yellow;
    border: 5px solid black;
    line-height: 35px;
    box-shadow: 15px 5px 10px 3px black;
}
